.tudo10{
    display: flex;
    flex-direction: column;

    .input-group2 {
        display: flex;
        flex-direction: row;
        // gap: 25px;
      
        label {
            font-weight: bold;
        }
      
        input {
        display: flex;
        flex-direction: column;
        outline: none;
        padding: 5px 15px;
        border-radius: 12px;
        border: 1px solid #a5a5a5;
        font-size: 18px;
        width: 198px;
      
        &::placeholder {
        color: #383131;

        flex-direction: column;
        }
        }
      }
}