.inicio{

    .tituloPrimeiro{
        color: #383131;
        margin-left: 80px;
        margin-top: 50px;
        font-size: 26px;
        font-weight: 700;
    }

    .cards{
        margin-left: 80px;
        margin-right: 80px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .link{
        text-decoration: none;
        color: black;
    }

    .link:hover{
        scale: 110%;
        transition: 0.2s;
     
    }
    
}