.sobre{

    .tituloPrimeiro{
        color: #383131;
        margin-left: 80px;
        margin-top: 50px;
        font-size: 26px;
        font-weight: 700;
    }

    .texto{
        
        font-size: 32px;
        text-align: center;
        color: #383131;
    }
    
    .imagem{
        width: 120px;
        margin-left: 660px;
        margin-top: 68px;
        margin-bottom: 68px;

    }
}